body {
    margin: 0;
}

.container {
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}



p {
    font-weight: 500;
    font-size: 1.5em;
}

tbody td{
    width:100px;
    height:100px;
    background-color: #28abe3;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
}

.footer {
    background-color: #dddddd;

    padding: 10px 10%;
    margin-top: 10px;
    text-align: center;
}
.social-links {
    margin-top: 10px;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    font-weight: 600;
    font-size: .8em;
    color: black;
}

.legal h6 {
    font-weight: 800;
    font-size: .8em;
    letter-spacing: 0.08em;
    text-align: center;
    color: #28abe3;
}